img {
    display: block;
    margin: 10px auto 0 auto;
    max-height: 120px;
}

.boldText {
    font-weight: bold;
}


p {
    text-align: center;
}

.loveit {
    font-size: -webkit-xxx-large;
    color: lime;
}


.nottoogood {
    font-size: normal;
    color: red;
}


@font-face {
    font-family: myFirstFont;
    src: url(../../assets/So_Far_So_Good.ttf);
}

.myOwnTypography{
    font-family: myFirstFont;
    color: #4E2CB8;
}

.example-card {
  width: 200px;
}

img {
    width: 150px;
}

.example-header-image {
  /*background-image: url('../../../assets/img/examples/shiba1.jpg');*/
  background-size: cover;
}
