<div class="card">
    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjM2Nzg4MzkwOF5BMl5BanBnXkFtZTgwNzA0OTE3NjE@._V1_UX182_CR0,0,182,268_AL_.jpg"
    alt="Spectre 007">
    <div class="card-block">
        <a href="http://www.imdb.com/title/tt2379713/" target="_blank">
            <h4 class="card-title">{{data.name}}</h4></a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Genero: {{data.gender}}</li>
        </ul>
        <div class="card-block">
            <a href="#" class="btn btn-primary">Eliminar</a>
        </div>
    </div>
