<counter [count]="num" *ngIf="showCounter"></counter>
<button md-raised-button color="primary" (click)="showCounter=!showCounter">Toggle counter</button>
<button md-raised-button color="accent" (click)="increment()">Increment counter</button>

<br/><br/><br/><br/>

<today></today>

<br/><br/><br/><br/>

<button md-raised-button color="warn" (click)="addMenInBlackII()">Add Men In BlackII</button>
<div class="container">
    <film-form></film-form> <!-- Añadimos el formulario -->
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <film *ngFor="let film of films | sortBy: 'name'" [data]="film" (onRemove)="remove($event)"></film>
        </div>
    </div>
</div>
